html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#holder{
    position: fixed;
    margin: auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: radial-gradient(gray, black);
    background-color: black;
}